<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar-se</title>
</head>
<body>
    <form action="/register" method="post">
        <h2>Nome do usuário:</h2>
        <input type="text" name="nome">
        <h2>Email do usuário:</h2>
        <input type="email" name="email">
        <h2>Senha do usuário:</h2>
        <input type="password" name="senha">
        <h2>Confirmar Senha:</h2>
        <input type="password" name="senhaConfirm">
        <button type="submit">Cadastrar-se</button>
    </form>
</body>
</html>