<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logar-se</title>
</head>
<body>
    <form action="/login" method="post">
        <h2>Email:</h2>
        <input type="email" name="email">
        <h2>Senha:</h2>
        <input type="password" name="senha">
        <button type="submit">Logar-se</button>
    </form>
</body>
</html>